DATABASE_URL="mongodb://localhost:27017/badgesGo"
DATABASE_URL="mongodb+srv://developer01:L5dbzmkD0wAhzZYs@badgesgo.zuxdzdh.mongodb.net/badgeGoDB"
JWT_SECRET="badge-go-secret"
RESET_TOKEN="badge-go-reset-password"
API_KEY="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"